<div class="container">
  <h1 class="Page-header">Upcoming Rockers</h1>
  <% for_for @bands.each do |band| %>
  <div class="form-group">
    <a href="<%= band_show_path %>"><%= band.name %></a>
  </div>
  <% end %>
  <% form_for @venues.each do |venue| %>
  <div class="form-group">
    <a href="<%= venue_show_path %>"><%= venue.name %></a>
  </div>
   <div class="form-group">
    <%= venue.price %>
  </div>
</div>